
/* Define Nextflow configuration settings for SCALPEL pipeline execution */
/* ===================================================================== 

Here, Please define the desired settings for SCALPEL execution !!

*/


/* -> Processes 
================
*/

process {
  cpus = 30
  executor = 'slurm'
  withLabel: big_mem {
    memory = 90.GB
  }
  withLabel: small_mem {
    memory = 30.GB
  }
}
