
/* Define Nextflow configuration settings for SCALPEL pipeline execution */
/* ===================================================================== */


/* -> Processes 
================
*/

/* Enter here the desired Nextflow parameters for execution (see https://www.nextflow.io/docs/latest/index.html)*/

/* global parameters for execution */

executor {
    name = 'local'               /* Adjust as needed */
    cpus = 64                    /* Adjust as needed */
}


/* Parameters by process */
process {
    time = '120 m'

    withLabel: big_mem {
        cpus = 8
    }

    withLabel: small_mem {
        cpus = 2
    }
}
